* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(193, 190, 190);
}

dialog {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

form, input, button {
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    font-size: 1.5rem;
}

.top-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
}

.top-left, .top-right {
    display: inherit;
    margin: 20px;
}

.sign-in {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.book-container {
    text-align: center;
}

.add-book-btn {
    margin-top: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    height: 50px;
}

.add-book-btn:hover, .sign-in:hover {
    background-color: rgb(205, 204, 204);
}

.book-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 2%;
    margin-left: 1%;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.read-button {
    background-color: green;
    color: white;
    border-radius: 10px;
    width: 100px;
    border: none;
}

  .not-read-button {
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 100px;
    border: none;
}

.gh-link {
    color: black;
}

/* mobile screen styles  */

@media only screen and (max-width: 768px) {

    body {
        height: 100%;
        width: 100%;
    }

    .top-container {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .top-left, .top-right {
        margin: 10px;
    }

    .sign-in {
        height: 40px;
        width: 125px;
    }

    .add-book-btn {
        margin-top: 15px;
        width: 125px;
        height: 40px;
    }

    .book-card {
        width: 45%;
    }
}

/* tablet or small screen styles  */

@media only screen and (max-width: 1024px){

    .top-container {
        align-items: center;
    }

    .book-cards {
        justify-content: space-evenly;
    }

    .book-card {
        width: 45%;
    }
}
