* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(193, 190, 190);
}

dialog {
    margin: auto;
    padding: 20px;
}

form, input, button {
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
}

.top-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
}

.top-left, .top-right {
    display: inherit;
    margin: 20px;
}
.book-container {
    text-align: center;
}

.add-book-btn {
    margin-top: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    height: 50px;
}

.add-book-btn:hover {
    background-color: rgb(205, 204, 204);
}

.book-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 2%;
    align-items: center;
    font-size: 1.5rem;
}

.read-button {
    background-color: green;
    color: white;
    border-radius: 10px;
    width: 100px;
    border: none;
}

  .not-read-button {
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 100px;
    border: none;
}
